body {
    background-color: transparent;
}

.pdpmeta {
    display: inline !important;
}

.propagedesc {
    color: #fff !important;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

.productImage {
    width: 100%;
    display: flex;
}

.productImage .imageThumbnail {
    width: 90px;
    min-width: 90px;
}

.productImage .imageThumbnail img {
    width: 90px;
    height: 90px;
    cursor: pointer;
    padding: 10px 0px;
}

.accordion-item {
    overflow: hidden;
    transition: max-height .3s cubic-bezier(1, 0, 1, 0);
    height: auto;
    max-height: 9999px
}

.accordion-item.collapsed {
    max-height: 0;
    transition: max-height .35s cubic-bezier(0, 1, 0, 1)
}

.accordion-title {
    cursor: pointer;
    padding: 15px 15px 15px 0;
    justify-content: space-between;
    align-items: center;
    position: relative;
    letter-spacing: 1.4px;
}

.accordion-title::after {
    content: "";
    width: 14px;
    height: 2px;
    background: #000;
    position: absolute;
    right: 0;
    top: 26px;
}

.accordion-title::before {
    content: "";
    width: 2px;
    height: 14px;
    background: #000;
    position: absolute;
    right: 6px;
    top: 20px;
}

.accordion-title:hover,
.accordion-title.open {
    color: #000
}

.accordion-title.open::before {
    opacity: 0;
    padding: 0 10px;
}

.accordion-content {
    padding: 0 0 15px;
}

.accordion-content ul {
    list-style-type: none !important;
}

.accordion-content ul li {
    padding: 0 0 5px;
}

.productImage .productImg {
    align-items: flex-start;
    margin: 0 auto;
    padding: 10px 10px 1px 10px;
}

.PDP_cartprice {
    font-size: 30px;
    margin-bottom: 10px !important;
}

.PDP_productTitle {
    font-size: 30px !important;
    line-height: 1.4 !important;
    font-weight: 600;
    font-style: normal;
    color: #1c1b1b;
    transition: color .2s ease-in-out;
    text-transform: uppercase;
    letter-spacing: 0px;
}

.accordion-content ul li::before {
    content: '';
    display: inline-block;
    background: url(https://cdn.shopify.com/s/files/1/0257/7583/3137/files/yes-icon.png?v=1624950255) no-repeat;
    margin: 0 10px -1px 0;
    width: 17px;
    height: 13px;
}

.accordion-content p {
    padding: 0;
    margin-bottom: 15px;
}

.accordion-title::before {
    content: "";
    width: 2px;
    height: 14px;
    background: #000;
    position: absolute;
    right: 6px;
    top: 20px;
}

.accordion-wrapper {
    border-bottom: 1px solid #B5B5B5;
}

.infoAccordion {
    border-top: 1px solid #B5B5B5;
    margin-top: 35px;
    margin-left: 0;
    max-width: 100%;
    padding-right: 0;
}

.klarnaText {
    font-size: 16px;
    margin-bottom: 10px;
}

.cartgroup .cartInput {
    width: 130px;
}

.cartgroup .cart-btn {
    width: 350px;
}

.cartgroup {
    display: flex;
    margin-bottom: 30px;
    max-width: 510px;
    justify-content: space-between;
    align-items: center;
}

.cartgroup .cartQuantityInput input[type=text] {
    color: #000 !important;
    z-index: 9999999999999;
    width: 72px;
    padding: 0 5px !important;
    border: 1px solid #CBD5E0 !important;
    border-radius: 5px;
}

.cartgroup .cartInput {
    width: 130px;
}

.cartgroup .cart-btn {
    width: 350px;
}


/* .cart-btn button {
    margin: 0;
    border-radius: 4px;
    padding: 15px;
} */

.cartgroup .cart-btn {
    width: 70%;
}


/* .cart-btn button {
    padding: 8px 10px;
    font-size: 13px;
    line-height: 1.7;
} */

.atcbtn {
    background-color: #000 !important;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    margin-top: 3%;
    text-transform: uppercase;
}

.cartgroup .cartInput {
    margin: 0;
}

.cartgroup .cartInput {
    width: 255px;
    z-index: 0;
}

.cartgroup .cartQuantityInput {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}

input.cartInputText {
    border: none;
    width: 65%;
    font-size: 17px;
}

.cartQuantityInput {
    padding: 10px 10px;
    background: #fff 0% 0% no-repeat padding-box !important;
    border: 1px solid #000 !important;
    border-radius: 4px;
    opacity: 1;
}

.instaContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.instaTitle h2 {
    text-align: center;
    letter-spacing: 3px;
    font-size: 30px;
    margin: 0 0 15px;
    text-transform: uppercase;
}

.instascript {
    padding-bottom: 75px;
}

.prosreview {
    text-align: left !important;
    display: flex;
    align-items: center;
}

.prosreview a.text-m {
    color: #fff !important;
    font-size: 20px !important;
    padding-left: 10px !important;
    padding-top: 3px !important;
    font-weight: 600;
}

.proreviewsection {
    padding-top: 20px !important;
    background: #fff;
}


/*ppppppppppppppppppppppppppp*/

.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


/* Transparent Overlay */

.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(36, 41, 67, 0.8)
}


/* :not(:required) hides these rules from IE9 and below */

.loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}


/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/*Spinner CSS*/


/* .spinner {
    margin: auto;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid purple;
    border-bottom: none;
    border-left: none;
    animation: spin 4.5s infinite linear reverse;
}

.spinner .spinner2 {
    margin: 25px auto;
    height: 200px;
    width: 200px;
    animation: spin 2s infinite linear;
}

.spinner .spinner3 {
    margin: 25px auto;
    height: 150px;
    width: 150px;
    animation: spin 1s infinite linear reverse;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
} */


/*Spinner CSS*/

@media screen and (max-width: 767px) {
    .instaTitle h2 {
        font-size: 20px !important;
    }
    .imageThumbnail {
        display: none;
    }
    .productMobile {
        display: inline !important;
    }
    .Container.cart-btn.cartsize {
        padding-left: 0px;
    }
    .Container.cartInput {
        padding-left: 0px;
    }
    .Container.cartInput button {
        padding: 20px !important;
    }
    .cartgroup .cartQuantityInput input[type=text] {
        width: 26px;
    }
    .productImage .productImg {
        padding: 0;
    }
    .bigprolist {
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-top: 4px;
        grid-gap: 4px !important;
    }
    .inner.pdppage {
        padding-top: 0px !important;
    }
}

.bigprolist {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, minmax(1px, 100%));
    padding-left: 10px;
    list-style: none;
    padding-right: 10px;
    padding-top: 10px;
}

img.prodmetaImages {
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
}

.inner.pdppage {
    padding-top: 0 !important;
}